<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/groupList.css">
<th:block th:replace="~{./include/baseLayout :: setContent( ~{ :: .wrap} ) }">
<script src="/js/jquery-3.7.1.min.js"></script>	
	<div class="wrap">
	 <div class="container-fluid py-4">
      <div class="container-title">그룹조회</div>
      <input type="button" value="그룹상세보기" class="groupBtn">
      <input hidden="hidden" th:value="${userName}" class="userName">
      <div class="search-wrap">
        <span>그룹명</span>      
        <select>
          <option value="">전체</option>
          <option value="">기초</option>
          <option value="">입문</option>
          <option value="">중급</option>
          <option value="">실전</option>
          <option value="">초급</option>
          <option value="">사활</option>
        </select>
      </div>
      <table class="comunity-table">
        <tr class="table-title">
          <th>번호</th>
          <th>콘텐츠이미지</th>
          <th>그룹명</th>
          <th>강사명</th>
          <th>학습종료일</th>
          <th>신청가능인원</th>
          <th>권장연령</th>
          <th>상태</th>
          <th>비고</th>
        </tr>
        <tr class="table-content" th:each="vo,status: ${groupList}">
          <td>[[${vo.groupNo}]]</td>
          <td><img src="" alt="x"/></td>
          <td>[[${vo.contsNm}]]</td>
          <td>[[${vo.userId}]]</td>
          <td>[[${vo.lastCmcrsYmd}]]</td>
          <td>[[${vo.groupUtztnNope}]]</td>
          <td>[[${vo.recAge}]]</td>
          <td><button type="button" class="content-apply">신청하기</button></td>
          <td><button type="button" class="content-basket">담기</button></td>
        </tr>
      </table>
      <div class="pagenation">
        <span>prev</span>
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>next</span>
      </div>
    </div>
	
	</div>
</th:block>

<script th:inline="javascript">
   $(".groupBtn").click(function(){
    	var username=$(".userName").val();
    	//시큐리티 적용시 username시큐리티꺼 사용 위에거 삭제하고 다른값 넣어주세요
   	 	var name="그룹페이지로 이동합니다.";
    	var url="eduGroup";
    	var option="width=1700,length=1050,top=0,left=0,location=yes";
    	window.open(url,name,option);
    });
   
   $(".content-apply").click(function(e){
	   
     var groupNo=e.target.parentElement.parentElement.firstElementChild.innerHTML;
     location.href="groupSelectForm?groupNo="+groupNo;
   });
   
   $(".content-basket").click(function(e){
	  var groupNo=e.target.parentElement.parentElement.firstElementChild.innerHTML;
		
	  $.ajax({
  		url:"http://localhost:8282/user/addOnBasket",
  		type:"post",
  		contentType:"application/json; charset=utf-8",
  		dataType:"text",
  		async : false,
  		data:JSON.stringify(groupNo),
  		success : function(response){
  			
  			console.log(response);
  			location.reload();
  		},
  		error : function(request,status,error){
  			console.log(error);
  		}
  	})
   });
   
   
</script>
</html>