<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/comunityDetail.css">
<th:block th:replace="~{./include/baseLayout :: setContent( ~{ :: .wrap} ) }">

<div class="wrap">
	 <div class="container-fluid py-4">
      <div class="container-title">Q&A</div>
      <div class="content-wrap">
        <div class="content-title">질문했어요</div>
        <div class="title-box">
          <span>
            <span class="content-writer">작성자:&nbsp;</span>
            [[${vo.userId}]]
          </span>
          <span>
          	작성일:
            <span class="content-regdate" th:text="${#strings.substring(vo.QstnYmd,0,10)}"></span>
          </span>
          <span>
          <span>그룹번호:</span>
          [[${vo.GroupNo}]]
          </span>
        </div>
        <div class="content-box">
          <textarea name="" id="textarea" cols="30" rows="10" readonly>[[${vo.QstnCn}]]</textarea>
        </div>
      </div>
    </div>
    <div class="button-wrap">
      <button type="button" id="changeBtn" th:onclick="|location.href='@{questionModify(qstnno=${vo.QstnNo})}'|">수정하기</button>
      <button type="button" id="deleteBtn" th:onclick="|location.href='@{questionDelete(qstnno=${vo.QstnNo},groupno=${vo.GroupNo})}'|">삭제하기</button>
      <button type="button" id="backBtn" th:onclick="|location.href='@{groupApplyDetail(groupno=${vo.GroupNo})}'|">목륵으로</button>
     
    </div>
    </div>
</th:block>

  <script>
      
      const DEFAULT_HEIGHT = 300; // textarea 기본 height

      const $textarea = document.querySelector('#textarea');

      $textarea.oninput = (event) => {
      const $target = event.target;

      $target.style.height = 0;

      $target.style.height = DEFAULT_HEIGHT + $target.scrollHeight + 'px';

    };
    </script>

</html>