<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/groupList.css">
<th:block th:replace="~{./include/baseLayout :: setContent( ~{ :: .wrap} ) }">
<script src="/js/jquery-3.7.1.min.js"></script>
<div class="wrap">
 <div class="container-fluid py-4">
      <div class="container-title">그룹신청내역</div>
      <div class="search-wrap">
        <span>그룹명</span>      
        <select>
          <option value="">전체</option>
        </select>
      </div>
      <table class="comunity-table">
        <tr class="table-title">
          <th>신청번호</th>
          <th>그룹번호</th>
          <th>콘텐츠이미지</th>
          <th>신청자명</th>
          <th>학습콘텐츠명</th>
          <th>최종이수일</th>
          <th>신청가능인원</th>
  		  <th>권장연령</th>
  		  <td>거절</td>
  		  <td>승인</td>
        </tr>
        <tr class="table-content" th:each="vo,status : ${applyList}" >
          <td>[[${vo.aplyNo}]]</td>
          <td>[[${vo.groupNo}]]</td>
          <td><img src="" alt="이미지"/></td>
          <td>[[${vo.userId}]]</td>
          <td>[[${vo.contsNm}]]</td>
          <td>[[${vo.lastCmcrsYmd}]]</td>
          <td>[[${vo.groupUtztnNope}]]</td>
          <td>[[${vo.recAge}]]</td>
          <td><button type="button" class="applyDeleteBtn">가입거절</button></td>
          <td><button type="button" class="applyAcceptBtn">가입승인</button></td>
        </tr>
      </table>
</div>

</th:block>
<script>
	$(".applyDeleteBtn").click(function(e){
    	e.stopPropagation();
	  	var aplyNo=e.target.parentElement.parentElement.firstElementChild.innerHTML;
    	location.href="/creator/refuseRegist?aplyNo="+aplyNo;
	});
	
	$(".applyAcceptBtn").click(function(e){
  		e.stopPropagation();  
		var aplyNo=e.target.parentElement.parentElement.firstElementChild.innerHTML;
		var groupNo=e.target.parentElement.parentElement.firstElementChild.nextElementSibling.innerHTML;
		location.href="/creator/acceptRegist?aplyNo="+aplyNo+"&groupNo="+groupNo;
	});
	
</script>
</html>